{% load staticfiles %}
	{% block customcss %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">

	{% endblock %}
{% block content %}
	<h1>Home!</h1>
	<p><a href="/improvado/update">"update"</a></p>
	<p><a href="/improvado/search">"search"</a></p>
{% endblock %}